# Ignore objects and archives
*.[oa]

# Ignore precompiled headers
*.gch

# Specific files to ignore
Matrix2-UnitTest
RigidException-UnitTest
Vector3-UnitTest
Vector2-UnitTest
OdeRungKutta4-UnitTest

# Ignore w/e .metadata is
.metadata/
